<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="imms.dao.ReserveRoomMapper">
    <!--查找已经被预约的会议室:不确定用户输入了哪些值-->
    <select id="selectAvailableMeetingRoom" resultType="imms.model.Room">
        select * from roominfo
        <where>
            <if test="roomId!=null &amp; roomId!='' ">
                roomId = #{roomId}
            </if>
            <if test="roomSize != null &amp; roomSize != ''">
                AND roomSize = #{roomSize}
            </if>
            <if test="roomOpenTime != null &amp; roomOpenTime!='' ">
                AND roomOpenTime like #{roomOpenTime}
            </if>
            <if test="roomCloseTime != null &amp; roomCloseTime != ''">
                AND roomCloseTime like #{roomCloseTime}
            </if>
            <if test="roomNumber != null &amp; roomNumber != '' ">
                AND roomNumber like #{roomNumber}
            </if>
            <if test="roomAddress != null &amp; roomAddress != ''">
                AND roomAddress like #{roomAddress}
            </if>
                AND roomIsReserved = 0
        </where>
    </select>

    <!--查找:不确定用户输入了哪些值-->
    <select id="selectReservedMeetingRoom" resultType="imms.model.Room">
        select * from roominfo
        <where>
            <if test="roomId!=null &amp; roomId!='' ">
                roomId = #{roomId}
            </if>
            <if test="roomSize != null &amp; roomSize != ''">
                AND roomSize = #{roomSize}
            </if>
            <if test="roomOpenTime != null &amp; roomOpenTime!='' ">
                AND roomOpenTime like #{roomOpenTime}
            </if>
            <if test="roomCloseTime != null &amp; roomCloseTime != ''">
                AND roomCloseTime like #{roomCloseTime}
            </if>
            <if test="roomNumber != null &amp; roomNumber != '' ">
                AND roomNumber like #{roomNumber}
            </if>
            <if test="roomAddress != null &amp; roomAddress != ''">
                AND roomAddress like #{roomAddress}
            </if>
            AND roomIsReserved = 1
        </where>
    </select>

    <!--检查是否已经存在会议室 -->

    <select id="hasMeetingRoom" resultType="imms.model.Room">
        select * from roominfo
        <where>
            <if test="roomNumber != null &amp; roomNumber != '' ">
                AND roomNumber = #{roomNumber}
            </if>
            <if test="roomAddress != null &amp; roomAddress != ''">
                AND roomAddress = #{roomAddress}
            </if>

        </where>
    </select>


    <!--修改会议室已经被预约-->
    <update id="updateMeetingRoomIsReserved" parameterType="imms.model.Room" >
        update roominfo set
            roomIsReserved = 1
        where roomId = #{roomId}
    </update>

    <!--修改会议室没有被预约-->
    <update id="updateMeetingRoomIsAvailable" parameterType="imms.model.Room" >
        update roominfo set
            roomIsReserved = 0
        where roomId = #{roomId}
    </update>

</mapper>