<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="imms.dao.ReserveMapper">

    <insert id="addReserve" parameterType="imms.model.Reserve" keyProperty="reserveId" useGeneratedKeys="true">
        insert into reserve
        values(#{reserveId},#{userId},#{roomId},#{meetingId},#{status},#{info});
    </insert>
    <update id="updateReserve" parameterType="imms.model.Reserve">
        update reserve set
        reserveId = #{reserveId},
        userId = #{roomId},
        roomId  = #{roomId},
        meetingId = #{meetingId},
        status = #{status},
        info = #{info}
        where reserveId = #{reserveId};
    </update>
    <delete id="deleteReserve" parameterType="Integer">
        delete from reserve where reserveId = #{reserveId};
    </delete>
    <select id="select" resultType="imms.model.Reserve">
        select from reserve
        <where>
            <if test="reserveId != null &amp; reserveId != 0">
                reserveId = #{reserveId}
            </if>
            <if test="userId != null &amp; userId != 0">
                and userId = #{userId}
            </if>
            <if test="roomId != null &amp; roomId != 0">
                and roomId = #{roomId}
            </if>
            <if test="meetingId != null &amp; meeting != 0">
                and meetingId = #{meetingId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="info != null">
                and info = #{info}
            </if>
        </where>
    </select>
</mapper>